
{% extends 'layout.html' %}

{% block content %}

<div class="text-center">
    
<p class="my-2 h5 text-muted">¡Ya casi es tuyo!</p><br>
<p>Coordina con el vendedor el pago y capacitación.</p><br>
<h5>Información del vendedor</h5>
<span><i class="fa fa-user"></i> {{post.vendedor}}</span></br>
<span><i class="fa fa-phone"></i> 0{{post.telefono}}</span></br>
<span><i class="fa fa-envelope"></i> {{post.correo}}</span>
</br>
<div clas="boton">
<a href="https://api.whatsapp.com/send?phone=593{{ post.telefono }}&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Facturas%20Electrónicas"  target="_blank"><i class="fab fa-whatsapp"></i></a>
</div>
<br>



<img class="img-fluid img-post" width="25%" src="{{post.image.url}}" alt="{{post.title}}"><br>
<p class="my-2 h5 text-muted">Detalles de tu compra</p>
<p>{{post.title}}</p>
<p class="text-success"><strong>Precio $ {{post.price}}</strong></p>




<a class="btn btn-primary" href="/">Finalizar Compra</a>

</div>

{% endblock %}